button {
    padding: 20px;
    background-color: lightblue;
    border-radius: 10px;
    color: $color-white;
    text-transform: uppercase;
    border: 1px solid #000;
    box-shadow: 2px 3px #a8A8A8;
    cursor: pointer;
}

button:active {
    box-shadow: 1px 1px #a8A8A8;
}