.cancel {
    text-align: center;
    .btn {
        background-color: lightskyblue;
        padding: 10px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        font-size: 20px;
    }

    .nameCategory {
        margin-top: 30px;
    }
}