footer {
    padding: 10px 0;
    background-color: lightblue;
    height: 100%;

    .footer-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;

        ul {
            margin: 20px;
            width: 140px;
            line-height: 30px;

            h3 {
                text-decoration: underline;
            }
        }
    }
}

@media screen and (max-width: 542px){
    footer .footer-container ul li{
        text-align: center;
    }
}