nav {
    position: sticky;
    display: flex;
    align-items: center;
    top: 0;
    height: 60px;
    color: $color-white;
    background-color: $color-black;
    font-size: 17px;
    z-index: 10;

    .nav-container {
        display: flex;
        margin: 0 30px;
        justify-content: space-between;
        width: 100%;
        align-items: center;

        .nav-left {
            display: flex;
            align-items: center;

            .nav-open {
                display: none;
            }

            .nav-logo {
                cursor: pointer;
                margin-right: 30px;
                color: $color-white;
                text-transform: uppercase;
            }

            .nav-menu {
                display: flex;
                align-items: center;
                width: 400px;
                justify-content: space-between;

                .nav-link {
                    font-size: 20px;
                    color: $color-white;
                    cursor: pointer;
                    &:hover {
                        text-decoration: underline;
                    }
                }

                .nav-close {
                    display: none;
                }
            }
        }

        .nav-right {
            font-size: 22px;
            display: flex;
            align-items: center;
            cursor: pointer;
        }
    }
}

@media (max-width: 620px){
    nav {
        .nav-container {
            display: flex;
            justify-content: space-between;

            .nav-left {
                width: 160px;
                display: flex;
                justify-content: space-between;

                .nav-open{
                    cursor: pointer;
                    display: block;
                    font-size: 20px;
                }

                .nav-logo {
                    margin-right: 0;
                }

                .nav-menu {
                    display: flex;
                    transform: translateX(-100%);
                    flex-direction: column;
                    justify-content: space-evenly;
                    background: rgb(82, 79, 79);
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100vh;
                    position: absolute;
                    transition: transform 0.5s ease-in;

                    .nav-close {
                        display: block;
                        position: absolute;
                        top: 20px;
                        left: 30px;
                        font-size: 30px;
                        cursor: pointer;
                    }
                }

                .nav-menu.active {
                    transform: translateX(0%);
                }
            }
        }
    }
}
