.alphabet {
    display: flex;
    flex-direction: column;
    text-align: center;

    .alphabet_img-bg {
        width: 100%;
        height: 40vh;
        background: url('../../assets/alphabet.jpg');
        background-position: center bottom;
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .alphabet-container {
        margin: 40px;

        .img-letter {
            width: 60%;
        }

        .letter {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            li {
                margin: 10px;
                cursor: pointer;
            }
        }
        .alphabet-name {
            margin-top: 30px;
        }
        .alphabet-meals {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            img {
                margin-top: 30px;
            }
        }
    }
}

.swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 0;
}

.swiper-container {
    width: 500px;
    // overflow-x: hidden;
}

.swiper-wrapper {
    padding-inline-start: 0;
    display: flex;
}

@media screen and (max-width: 530px){
    .alphabet {
        .card {
            margin: 0;
            img {
                border-radius: 0;
            }
        }
    }

    .swiper-container {
        width: 300px;

        .swiper-button-prev,
        .swiper-button-next {
            background-color: $color-white;
        }
    }

    .alphabet .alphabet-container .alphabet-meals img {
        margin: 50px 0;
    }

    .swiper-container-horizontal > .swiper-pagination-bullets {
        bottom: 22px;
    }
}