.country {
    display: flex;
    flex-direction: column;
    text-align: center;
    
    .country_img-bg {
        width: 100%;
        height: 40vh;
        background: url('../../assets/country.jpg');
        background-position: center bottom;
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .countries-flag {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin: 30px 20px;

        ul {
            margin: 10px;

            li {
                font-size: 20px;
                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }
    }

    .country-container {

        .country-name {
            padding: 0 20px;
        }

        .countries-meals {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;

            .img-country {
                margin-top: 30px;
                width: 70%;
            }
        }
    }
}