.home {
    .home_img-bg {
       width: 100%;
       height: 100vh;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .home_accroche {
            position: absolute;
            top: 50%;
            left: 20px;
            font-size: 35px;
            color: $color-white;

            .home_btn {
                cursor: pointer;
                color: $color-white;
                margin-top: 20px;
                padding: 10px;
                border: 2px solid $color-white;
                width: 190px;
                border-radius: 12px;
            }
        }
    }
}