.meals {
    .meal_img-bg {
        width: 100%;
        height: 40vh;
        background: url('../../assets/nav3-bg.jpeg');
        background-position: center bottom;
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .meal-info {
        padding: 60px;
        display: flex;

        .filter{
            width: 100%;
            display: flex;
        }
    }
}

@media screen and (max-width: 590px){
    .meals .meal-info {
        padding: 60px 0;
    }
}