$color-white: #fff;
$color-black: #000;
$color-yellow : #ffed24;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: none;
    color: $color-black;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $color-black;
    cursor: pointer;
}

u {
    font-size: 20px;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.mg-t {
    margin-top: 30px;
}

.hide {
    display: hide;
}

.size-img {
    width: 70%;
}

.center {
    justify-content: center;
}