.cardDetail {
    padding: 20px 50px;

    .retour {
        display: flex;
        justify-content: center;
    }

    .cardDetail-container{
        margin: 40px auto;

        .flex {
            text-align: center;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            .leftSide {
                img {
                    width: 300px;
                }
            }
            .rightSide {
                margin-left: 30px;
                line-height: 30px;
                svg {
                    margin-top: 10px;
                    font-size: 25px;
                    color: $color-white;
                    cursor: pointer ;
                    background-color: $color-black;
                }
                svg.active {
                    color: $color-yellow;
                }
            }
        }

        .ingredients{
            text-align: center;
            margin: 30px;
        }

        .description {
            margin: 0 30px 30px;
        }

        .card-youtube,
        .link-container {
            margin-bottom: 25px;
            display: flex;
            justify-content: center;
            font-size: 18px;

            .link {
                &:hover:not(.none){
                    text-decoration: underline;
                }
            }

            .link-title {
                margin-right: 5px;
            }
        }
    }
}

@media screen and (max-width: 770px){
    .cardDetail .cardDetail-container .flex .rightSide {
        margin: 20px 0 0;
    }

    .cardDetail .cardDetail-container .description {
        text-align: justify;
    }
}