.favoris {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.644);
    color : $color-black;
    display: none;

    .favoris-container {
        display: none;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        height: 65%;
        background-color: $color-white;
        text-align: center;
        position: absolute;

        .title {
            padding: 15px;
            font-size: 20px;
            height: 15%;

            .favoris-close {
                position: absolute;
                right: 10px;
                top: 10px;
                cursor: pointer;
            }
        }

        .line {
            height: 1px;
            border: 1px solid $color-black;
        }

        .favoris-container-card {
            padding: 0 20px 20px;
            overflow-y: scroll;
            height: 85%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .fav-click {
                margin-bottom: 23px;
                .card {
                    width: 100%;
                    margin: 0;

                    img {
                        width: 190px;
                    }
                }
                .card:last-child {
                    margin-bottom: 23px;
                }

            }
            .fav-click:first-child {
                margin-top: 23px;
            }
        }
    }
}

.favoris.active {
    display: block;
    .favoris-container {
        display: block;
    }
}

.favoris.close {
    display: none;
    .favoris-container {
        display: none;
    }
}

@media screen and (max-width: 620px){
    .favoris .favoris-container {
        width: 70%;
    }
}