.home-latest_container {
    width: 100%;
    height: 110vh;
    text-align: center;

    .title {
        padding-top: 65px;
        font-size: 35px;
    }

    .card-container {
        // width: 40%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 900px){
    .home-latest_container {
        height: 90vh;
    }
}