.width {
    width: 100%;

    .left {
        width: 160px;
    
        .filterInput {
            width: 160px;
            padding: 10px;
            border: 1px solid $color-black;
            border-radius: 5px;
            margin-bottom: 25px;
            outline: none;
        }
    
        .category {
            width: 160px;
            line-height: 30px;
    
            .listCategory {
                cursor: pointer;
        
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    
    .right {
        margin-left: 0;
        width: 100%;
    
        .img-default {
            text-align: center;
            width: 100%;

            p {
                font-size: 22px;
                margin-bottom: 20px;
            }

            img {
                width: 480px;
            }
        }
    
        .category-card {
            display: flex;
            flex-wrap: wrap;
            text-align: center;
            justify-content: center;
        }
    }
}


@media screen and (max-width: 830px){
    .width .right .img-default img{
        width: 400px;
    }
}

@media screen and (max-width: 730px){
    .width .right .img-default img{
        width: 300px;
    }
}

@media screen and (max-width: 590px){
    .width{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;

        .right .img-default {
            margin-top: 40px;
        }
    }
}